footer {
    background-color: #11295a;
    color: #eef8ff;
    padding: 10% 0 8%;
    margin-top: 160px;
  }
  .footerNav {
    display: flex;
    width: 60%;
    /* justify-content: space-between; */
  }
  .footerBlocks {
    display: flex;
    justify-content: space-between;
  }
  .footerLogos {
    width: 50%;
  }
  .titleWork {
    font-weight: 200;
    font-size: 24px;
    line-height: 30px;
  }
  .copyright {
    font-size: 14px;
    font-weight: 400;
    font-weight: 200;
  }
  .logoLinks {
    margin: 5% 0;
  }
  .logoLinks img {
    display: inline-block;
    margin-right: 2%;
  }
  .footerContact {
    border-bottom: 1px solid #eef8ff;
    width: 50%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5%;
  }
  
  .footerInput {
    border-color: transparent;
    padding: 1% 0 5%;
    background-color: transparent;
    color:#EEF8FF;
    outline: none;
  }
  .footerInput::placeholder {
    font-size: 14px;
    font-weight: 200 !important;
    color:#EEF8FF;
  
  }
  .footerBtn {
    padding: 4.5px 27px;
    border-radius: 500px;
    border-color: transparent;
  }
  .footerBtn i {
    font-size: 24px;
  }
  .footerNavList {
    width: 25%;
    /* background-color:yellow */
  }
  .footerNavList li {
    list-style: none;
    font-size: 18px;
    margin-bottom: 16px;
    color: white;
  }
  .footerNavList li a {
    text-decoration: none;
  }
  .footerNavList a {
    color: white;
    font-weight: 300;
    font-size: 18px;
  }
  .footerNavList h2 {
    font-size: 22px;
    font-size: 700;
    margin-bottom: 10%;
    font-family: Raleway;
  }
  
  .modal-overlay {
    position: fixed;
    top: 4%;
    right: 1%;
    /* width: 20%; */
    padding: 2% 5%;
    z-index: 1000; /* Ensure modal is on top of other elements */
    border-radius: 12px;
    background-color: white;
    box-shadow: 6px 0.25rem 31px 0 rgba(0, 0, 0, 0.5);
    color: #11295a;
    font-size: 20px;
    font-family: Raleway;
    font-weight: 500;
    text-align: center;
  }
  .footerBtn {
    background-color: #d8eeff;
    color: #11295a;
    margin-bottom: 5px;
  }
  .error {
    color:red;
    margin-top: 5px;
  }
  @media screen and (max-width: 770px) {
    .footerBlocks {
      flex-direction: column;
      align-items: center;
    }
    .footerContact {
      width: 100%;
      margin: 40px 0 64px;
    }
    .footerLogos {
      margin-bottom: 4%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .footerNav {
      flex-direction: column;
      align-items: center;
    }
    .footerNavList h2 {
      margin: 40px 0 24px;
    }
    .footerNavList li {
      width: 100%;
    }
    .logoLinks {
      width: 100%;
      text-align: center;
    }
    .copyright {
      text-align: center;
    }
  }
  @media screen and (max-width: 455px) {
    footer {
      margin-top: 45px;
    }
    .footerLogos {
      width: 100%;
    }
  }
  