.slider {
    /* padding: 90px; */
      text-align: center;
      padding: 59px 0px;
      width: 100%;
    }
    
    .slide {
      margin: 0px 3%;
    }
    
    .slide img {
      max-width: 80%;
      width: 245.96px;
      height: 52.84px;
      gap: 0px;
      opacity: 0px;
    }
    @media screen and (max-width: 385px) {
      .slide img {
        width: 145.96px;
        height: 32.84px;
      }
    }
    